node_modules
**/node_modules
dist
**/dist
dist-types
**/dist-types
.turbo
.next
.git
.gitignore
*.log
storage
.env
.env.*
!.env.development.example
!.env.production.example
apps/api/tsconfig.tsbuildinfo
apps/web/tsconfig.tsbuildinfo
packages/*/tsconfig.tsbuildinfo
